* {
    box-sizing: border-box;
}

body {
    color: #FFF;
    background: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

header, main, footer {
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

h2 {
    font-weight: normal;
}

#rules li {
    list-style: none;
    padding: 0 20px;
    display: inline;
}

.box {
    font-size: 48px;
    width: 33%;
    height: 350px;
    padding-top: 100px;
    display: inline-block;
}

#rock-box {
    background: #43E677;
}

#paper-box {
    background: #FF6347;
}

#scissors-box {
    background: #009DFF;
}

input {
    display: none;
}

label {
    cursor: pointer;
}

label:hover {
    font-weight: bolder;
    cursor: pointer;
}

input:checked + label {
    font-weight: bolder;
    border-bottom: 5px solid #FFF;
}

#trackers {
    color: #000;
    background: #FFF;
    padding: 8px 0;
    display: none;
}
#trackers span {
    width: 250px;
    margin:50px;
}

button {
    color: #FFF;
    background: #000;
    font-size: 36px;
    border: 3px solid tomato;
    margin: 15px;
    padding: 0 5px;
    cursor: pointer;
}

button:hover {
    color: #000;
    background: #FFF;
}

#results {
    font-size: 22px;
    display: none;
}

#win-lose {
    font-size: 28px;
    margin: 15px 0;
}

footer {
    background: #FFF;
    color: #000;
    text-align: left;
    font-weight: bold;
    padding: 15px;
    margin-top: 30px;
}
